<ng-container *ngIf="!checkInit">
  [*] 請記得到 https://trello.com/app-key/ 上取得 key 及 Token<br/>
  [*] 請記得開啟 Trello 看板網址，複製網址上的 ID。<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 例如：'https://trello.com/b/oA2raDa2/Test'<br/>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- 則 ID 就是 【oA2raDa2】
</ng-container>


<ng-container *ngIf="checkInit">
  <h2>透過 RXJS 串起每個發送 API 的流程 - observable</h2>
  <button (click)="RunCreateTrelloBoardData()">RunCreateTrelloBoardData</button><br />
</ng-container>

<br />

<ng-container *ngIf="checkInit">
  <h2>透過 RXJS 串起每個發送 API 的流程 - subject</h2>
  <button (click)="RunCreateTrelloBoardData_1()">RunCreateTrelloBoardData_1</button><br />
</ng-container>
